{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Articles</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/new-styles.css' %}" />
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/all.min.js' %}"></script>
  </head>
  <body id="top">
    <!-- preloader -->
    <div id="preloader">
      <div id="loader"></div>
    </div>
    {% include 'includes/_header.html' %}
    <section class="s-content">
     
      <div class="s-pageheader">
        <div class="row">
          <div class="column large-12">
            <h1 class="page-title">
              <span class="page-title__small-type">Coast Woman Magazine</span>
              Cover Stories
            </h1>
          </div>
        </div>
      </div>
      <!-- end s-pageheader-->
      <!-- masonry
        ================================================== -->
        <div class="s-bricks s-bricks--half-top-padding">

            <div class="masonry">
                <div class="bricks-wrapper h-group">

                    <div class="grid-sizer"></div>

                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                    
                    {% for article in articles %}
                    <article class="brick entry" data-aos="fade-up">
    
                        <div class="entry__thumb">
                            <a href="{% url 'article-read' article.pk %}" class="thumb-link">
                                <img src="{{article.image.url}}" alt="">
                            </a>
                        </div> <!-- end entry__thumb -->
    
                        <div class="entry__text">
                            <div class="entry__header">
                                <h1 class="entry__title"><a href="{% url 'article-read' article.pk %}">{{article.title}}</a></h1>
                                
                                <div class="entry__meta">
                                    <span class="byline">Posted on 
                                        <span class='author'>
                                            {{article.date}} by
                                    </span>
                                </span>
                                    <span class="cat-links">
                                        <a href="{% url 'article-read' article.pk %}">{{article.author.first_name}}  {{article.author.last_name}}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="entry__excerpt">
                                <p>
                                    {{article.Description}}
                                </p>
                                <code>{{article.tag}}</code>
                            </div>
                            <a class="entry__more-link" href="{% url 'article-read' article.pk %}">Full Story</a>
                        </div> <!-- end entry__text -->
                    
                    </article> <!-- end article -->
                    {% endfor %}
                   


                </div> <!-- end brick-wrapper -->

            </div> <!-- end masonry -->

            <div class="row">
                <div class="column large-12">
                    <nav class="pgn">
                        <ul>
                            <li>
                                <span class="pgn__prev" href="#0">
                                    Prev
                                </span>
                            </li>
                            <li><a class="pgn__num" href="#0">1</a></li>
                            <li><span class="pgn__num current">2</span></li>
                            <li><span class="pgn__num dots">…</span></li>
                            <li><a class="pgn__num" href="#0">8</a></li>
                            <li>
                                <span class="pgn__next" href="#0">
                                    Next
                                </span>
                            </li>
                        </ul>
                    </nav> <!-- end pgn -->
                </div> <!-- end column -->
            </div> <!-- end row -->

        </div> <!-- end s-bricks -->
    </section>
    
    {% include 'includes/_footer.html' %}

    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
