
{% extends 'layouts/index.html' %} 
{% load static %}
{% block title %} About Coast Woman {% endblock %} 

{% block content %} 

{% include 'includes/nav.html' %}

<header class="masthead" style="background-color: #ff00ff">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>The Coast Woman</h1>
          <span class="meta"> About us</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container mt-3">
<!-- Top CTA Item Row -->
<div class="row">
  <div class="col-md-8">
    <img
      class="img-fluid"
      width="750"
      height="300"
      src="{% static 'img/cw-cover.png' %}"
      alt=""
    />
  </div>

  <div class="col-md-4">
    <h3 class="my-3">The Coast Woman</h3>
    <p>
      The Coast Woman Magazine is a bimonthly magazine that highlights
      succesful and influential women from the East African Coast. "Women
      spreading their wings"
    </p>
    <h3 class="my-3">Tags</h3>
    <ul class="list-unstyled">
      {% for tag in tags %}
      <li>
        <a href="">{{tag.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
  

<section id="about body-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Coast Woman Magazine</h2>
        <p class="lead" style="font-family: 'Nanum Myeongjo', serif;">
          The coast woman magazine is a periodical lifestyle magazine offering-a
          hybrid mix of sublimely compelling imagery, descriptive copy, and
          concise fact that has been carefully tailored to enthuse, encourage,
          endorse and excite. Primarily a vehicle of promotion, it has been
          designed to span the spectrum of international visitor appeal as well
          as offering updates and insights of interest to locals and industry
          alike. Guaranteeing a holistic embrace of all aspects of the Coastal
          experience in every issue it will be: information-driven; visually
          stimulating; entirely unbiased; positive, proactive and upbeat;
          culturally inclusive both in content and contribution; clear and
          concise; ethically correct; and forward-looking.
        </p>
      </div>
    </div>
  </div>
</section>

{% include 'includes/video.html' %}

{% include 'includes/footer.html' %} {% endblock %}
