{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Coast Woman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/new-styles.css' %}" />
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script defer src="{% static 'js/fontawesome/all.min.js' %}"></script>
  </head>
  <body id="top">
    <!-- loader -->
    <div id="preloader">
      <div id="loader"></div>
    </div>
    <!-- header
    ================================================== -->
    <header class="s-header s-header--opaque">
      <div class="s-header__logo">
        <a class="logo" href="index.html">
          <img src="{% static 'img/cwname.png' %}" alt="CoastWoman Magazine" />
        </a>
      </div>

      <div class="row s-header__navigation">
        <nav class="s-header__nav-wrap">
          <h3 class="s-header__nav-heading h6">Navigate to</h3>

          <ul class="s-header__nav">
            <li><a href="{% url 'home' %}" title="">Home</a></li>
            <li class="current"><a href="{% url 'articles' %}" title="">Articles</a></li>
            <li><a href="{% url 'news' %}" title="">News</a></li>
          </ul>
          <a
            href="#0"
            title="Close Menu"
            class="s-header__overlay-close close-mobile-menu"
            >Close</a
          >
        </nav>
      </div>
      <a class="s-header__toggle-menu" href="#0" title="Menu"
        ><span>Menu</span></a
      >
    </header>
    <!-- end s-header -->

    <!-- content
    ================================================== -->
    <section class="s-content">
      <div class="row">
        <div class="column large-12">
          <article class="s-content__entry">
            <div class="s-content__media">
              <img
                src="{% static 'img/cw-cover.png' %}"
                alt=""
              />
            </div>
            <!-- end s-content__media -->

            <div class="s-content__entry-header">
              <h1 class="s-content__title">Women Spreading Their Wings.</h1>
            </div>
            <!-- end s-content__entry-header -->
            <div class="s-content__primary">
              <div class="s-content__page-content">
                <p class="lead">
                  The coast woman magazine is a periodical lifestyle magazine offering-a hybrid mix of sublimely compelling imagery, descriptive copy, and concise fact that has been carefully tailored to enthuse, encourage, endorse and excite. Primarily a vehicle of promotion, it has been designed to span the spectrum of international visitor appeal as well as offering updates and insights of interest to locals and industry alike. Guaranteeing a holistic embrace of all aspects of the Coastal experience in every issue it will be: information-driven; visually stimulating; entirely unbiased; positive, proactive and upbeat; culturally inclusive both in content and contribution; clear and concise; ethically correct; and forward-looking. 
                </p>

                <br />

               
                <div class="row block-large-1-2 block-tab-full s-content__blocks">
                  <div class="column">
                      <h4>Who.</h4>
                      <p>
                        The Coast Woman Magazine is a bimonthly magazine that highlights succesful and influential women from the East African Coast. "Women spreading their wings" 
                      </p>
                  </div>

                  <div class="column">
                      <h4>Contacts.</h4>
                      <p>
                      Email us at info@coastwoman.co.ke
                      </p>
                  </div>

                  <div class="column">
                      <h4>Read...</h4>
                      <p>
                      Find latest news on what's happening arround the coast and read our latest articles.
                      </p>
                  </div>

                  <div class="column">
                      <h4>How.</h4>
                      <p>
                      Purchase our latest magazine online
                      </p>
                  </div>

              </div>
              <!-- end s-entry__page-content -->
            </div>
            <!-- end s-content__primary -->
          </article>
          <!-- end entry -->
        </div>
        <!-- end column -->
      </div>
      <!-- end row -->
    </section>
    <!-- end s-content -->
    <footer class="s-footer">
      <div class="s-footer__main">
        <div class="row">
          <div class="column large-3 medium-6 tab-12 s-footer__info">
            <h5>About CoastWoman</h5>

            <p>
              The coast woman magazine is a periodical lifestyle magazine offering-a hybrid mix of sublimely compelling imagery, descriptive copy, and concise fact that has been carefully tailored to enthuse, encourage, endorse and excite.
            </p>
          </div>
          <!-- end s-footer__info -->

          <div class="column large-2 medium-3 tab-6 s-footer__site-links">
            <h5>Site Links</h5>

            <ul>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'articles' %}">Articles</a></li>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="#0">Purchase an Issue</a></li>
              <li><a href="#0">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- end s-footer__site-links -->

          <div class="column large-2 medium-3 tab-6 s-footer__social-links">
            <h5>Follow Us</h5>

            <ul>
              <li><a href="https://twitter.com/coast_woman">Twitter</a></li>
              <li><a href="https://www.facebook.com/coastwomanmagazine/">Facebook</a></li>
              <li><a href="https://www.instagram.com/thecoastwomanmagazine">Instagram</a></li>
            </ul>
          </div>
          <!-- end s-footer__social links -->

          <div class="column large-3 medium-6 tab-12 s-footer__subscribe">
            <h5>Sign Up for Newsletter</h5>

            <p>Signup to get updates on articles, interviews and events.</p>

            <div class="subscribe-form">
              <form id="mc-form" class="group" novalidate="true">
                <input
                  type="email"
                  value=""
                  name="dEmail"
                  class="email"
                  id="mc-email"
                  placeholder="Your Email Address"
                  required=""
                />

                <input type="submit" name="subscribe" value="subscribe" />

                <label for="mc-email" class="subscribe-message"></label>
              </form>
            </div>
          </div>
          <!-- end s-footer__subscribe -->
        </div>
        <!-- end row -->
      </div>
      <!-- end s-footer__main -->

      <div class="s-footer__bottom">
        <div class="row">
          <div class="column">
            <div class="ss-copyright">
              <span>© Copyright Coastwoman 2021</span>
              <!-- <span
                >Design by
                <a href="https://www.chrisdev.netlify.app/">Chris</a></span
              > -->
            </div>
            <!-- end ss-copyright -->
          </div>
        </div>

        <div class="ss-go-top">
          <a class="smoothscroll" title="Back to Top" href="#top">
            <svg
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
            >
              <path
                d="M7.5 1.5l.354-.354L7.5.793l-.354.353.354.354zm-.354.354l4 4 .708-.708-4-4-.708.708zm0-.708l-4 4 .708.708 4-4-.708-.708zM7 1.5V14h1V1.5H7z"
                fill="currentColor"
              ></path>
            </svg>
          </a>
        </div>
        <!-- end ss-go-top -->
      </div>
      <!-- end s-footer__bottom -->
    </footer>
    <!-- end s-footer -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
