{% extends 'layouts/index.html' %} {% block title %} About Coast Woman 
{% endblock %} {% block content %} {% include 'includes/nav.html' %}

<header class="masthead" style="background-color: #ff00ff">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>The Coast Woman</h1>
          <span class="meta"> About us</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="about body-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Coast Woman Magazine</h2>
        <p class="lead" style="font-family: 'Nanum Myeongjo', serif;">
          The coast woman magazine is a periodical lifestyle magazine offering-a
          hybrid mix of sublimely compelling imagery, descriptive copy, and
          concise fact that has been carefully tailored to enthuse, encourage,
          endorse and excite. Primarily a vehicle of promotion, it has been
          designed to span the spectrum of international visitor appeal as well
          as offering updates and insights of interest to locals and industry
          alike. Guaranteeing a holistic embrace of all aspects of the Coastal
          experience in every issue it will be: information-driven; visually
          stimulating; entirely unbiased; positive, proactive and upbeat;
          culturally inclusive both in content and contribution; clear and
          concise; ethically correct; and forward-looking.
        </p>
      </div>
    </div>
  </div>
</section>

{% include 'includes/video.html' %}

{% include 'includes/footer.html' %} {% endblock %}
